.App {
    text-align: center;
}

.HeaderApp {
    background: black;
    width: 100%;
    min-height: 80px;
}

.productViewer {
    width: 100%;
    min-height: 90vh;
    flex-flow: row wrap;
}

.imageViewer {
    width: 70%;
    flex-direction: column;
    display: inline-flex;
}

.infoViewer {
    width: 29%;
    flex-direction: column;
    background: white;
    display: inline-flex;
}